<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="My Maven Suite">
    <test name="Maven Test" >
        <parameter name="browser" value="Chrome"/>
<!--        <parameter name="browser" value="Firefox"/>-->
        <parameter name="url" value="http://newtours.demoaut.com"/>

        <packages>


            <package name="com.datadriventest.*"/>
        </packages>


        <classes>
            <class name="com.datadriventest.StaticDataDrivenClass"/>
        </classes>






    </test>
    
</suite>